body {
    font-size: 1em;
    line-height: 1.85714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666666;
    font-weight: 400;
}
.header{
	min-height: 400px; 
	position: relative;   
}
.header .shape{
	background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
	overflow: hidden;
}
.header .skew{
	transform: skewY(-7deg);
	transform-origin: 0;
}
.header .header-content{
	padding-top: 12rem;
	padding-bottom: 26rem;
}
.header-title{
	font-weight: 600;
	font-size: 2.2rem;
}
.header-sub-title{
	font-size: 1.2rem;
	color: #fff;
}
.btn-download{
	background-color: #fff;
	font-weight: bold;
	color: #222;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-download:hover{
	color: #222;
}
.content{
	position: relative;
	margin-top: -350px;
}
.content .card{
	background-color: #fff;
	box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
	transition: top 0.2s ease-in-out;
	top: 0;
}
.content .card:hover{
	top: -10px;
}
.content .card .card-header{
	border-bottom: 0;
	background-color: transparent;
}
.content .item-name{
	font-weight: 700;
}
.content .dropdown-menu{
	background-color: #101E2A;
	box-shadow: 0 0 5px #222;
	max-height: 350px;
	overflow-y: scroll;
	min-width: 232px;
}
.content .dropdown-menu::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

.content .dropdown-menu::-webkit-scrollbar
{
	width: 4px;
	background-color: transparent;
}

.content .dropdown-menu::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.content .dropdown-menu a{
	color: #555;
}
.content .dropdown-menu a:focus,
.content .dropdown-menu a:hover{
	color: #fff;
	background-color: transparent;
	font-weight: 400;

}
.content #dropdownMenuButton{
	width: 232px;
}
.grid .item{
	width: 33.33%;
	display: block;
	padding: 0 10px;
	margin-bottom: 30px;
	float: left;
}
.grid .item:hover{
	text-decoration: none;
}
.back-to-top{
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 40px;
	width: 40px;
	box-shadow: 0 0 5px #000;
	text-align: center;
	line-height: 40px;
	text-align: center;
	opacity: 0;
	border-radius: 50%;
	color: #fff;
	transition: all 0.4s ease-in-out;
}
.back-to-top:hover{
	color: #fff;
}
.header .shape span{
	position: absolute;
	border-radius: 50%;
	transform: skew(8deg);
}
.header .shape span:first-child{
	width: 120px;
	height: 120px;
	background-color: rgba(255,255,255,0.2);
	top: 20%;
	right: 10%;
}
.header .shape span:nth-child(2){
	width: 120px;
	height: 120px;
	background-color: rgba(255,255,255,0.4);
	top: 29%;
	right: 8%;
}
.header .shape span:nth-child(3){
	width: 120px;
	height: 120px;
	background-color: rgba(255,255,255,0.4);
	top: -3%;
	left: -3%;
}
.header .shape span:nth-child(4){
	width: 150px;
	height: 150px;
	background-color: rgba(255,255,255,0.15);
	top: 37%;
	left: 8%;
}
.header .shape span:nth-child(5){
	width: 120px;
	height: 120px;
	background-color: rgba(255,255,255,0.09);
	top: 35%;
	left: 50%;
}
.header .shape span:nth-child(6){
	width: 120px;
	height: 120px;
	background-color: rgba(255,255,255,0.2 );
	top: 72%;
	left: 7%;
}
.header .shape span:nth-child(7){
	width: 100px;
	height: 100px;
	background-color: rgba(255,255,255,0.2);
	top: 72%;
	right: -4%;
}
@media (max-width: 768px){
    .grid .item{
    	width: 50%;
    }
}