    /*
    Flaticon icon font: Flaticon
    Creation date: 07/06/2017 07:15
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-email:before { content: "\f100"; }
.flaticon-map-with-position-marker:before { content: "\f101"; }
.flaticon-share:before { content: "\f102"; }
.flaticon-html5:before { content: "\f103"; }
.flaticon-black-graduation-cap-tool-of-university-student-for-head:before { content: "\f104"; }
.flaticon-computer-tool-for-education:before { content: "\f105"; }
.flaticon-download-business-statistics-symbol-of-a-graphic:before { content: "\f106"; }
.flaticon-arrows:before { content: "\f107"; }
.flaticon-monitor-tablet-and-smartohone:before { content: "\f108"; }
.flaticon-css-3:before { content: "\f109"; }
.flaticon-online-course:before { content: "\f10a"; }
.flaticon-coffee-cup:before { content: "\f10b"; }
.flaticon-add:before { content: "\f10c"; }
.flaticon-html-coding:before { content: "\f10d"; }
    
    $font-Flaticon-email: "\f100";
    $font-Flaticon-map-with-position-marker: "\f101";
    $font-Flaticon-share: "\f102";
    $font-Flaticon-html5: "\f103";
    $font-Flaticon-black-graduation-cap-tool-of-university-student-for-head: "\f104";
    $font-Flaticon-computer-tool-for-education: "\f105";
    $font-Flaticon-download-business-statistics-symbol-of-a-graphic: "\f106";
    $font-Flaticon-arrows: "\f107";
    $font-Flaticon-monitor-tablet-and-smartohone: "\f108";
    $font-Flaticon-css-3: "\f109";
    $font-Flaticon-online-course: "\f10a";
    $font-Flaticon-coffee-cup: "\f10b";
    $font-Flaticon-add: "\f10c";
    $font-Flaticon-html-coding: "\f10d";